body{
  overflow: hidden;
  background-color: #DDC4A2;
  text-align: center;
}

#foreground {
  position: absolute;
  top: 0%;
  left: 0%;
}

#background {
  width: 100%;
  max-width: 911px;
}

#stage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

form {
  text-align: right;
  position: fixed;
  right: 0;
  bottom: 10px;
  width: 100%;
  z-index: 99999;
}

#send {
  display: inline-block;
  vertical-align: middle;
}

input {
  border: 2px solid #3f3b2c;
  border-radius: 30px;
  outline: 0;
  padding-left: 20px;
}

button {
  display: none;
}
